.about-page h1 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
}

.about-page #image-about01 {
    height: 90%;
    margin-top: 1%;
}

.about-page #image-about02 {
    width: 100%;
    height: 100%;
}