.about-page h3 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    color: rgb(224, 30, 61);
}

.about-page #image-about01 {
    /* height: 90%;
    margin-top: 1%; */
    width: 100%;
    height: auto;
}

.about-page #image-about02 {
    width: 100%;
    height: 100%;
}

