.donate-page h4 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
<<<<<<< HEAD
=======
    color: rgb(224, 30, 61);
>>>>>>> dc45c8a68e2baeb9410ca4155fb3d8f8f51c12fb
}

.donate-page h3 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
<<<<<<< HEAD
=======
    color: rgb(224, 30, 61);
>>>>>>> dc45c8a68e2baeb9410ca4155fb3d8f8f51c12fb
}

.donate-page #donatebutton {
    width: 10%;
<<<<<<< HEAD
=======
}

.donate-page #centered {
    text-align: center;
>>>>>>> dc45c8a68e2baeb9410ca4155fb3d8f8f51c12fb
}