.donate-page h3 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
}

.donate-page h1 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
}

.donate-page #donatebutton {
    width: 10%;
}