.donate-page h4 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    color: rgb(224, 30, 61);
}

.donate-page h3 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    color: rgb(224, 30, 61);
}

.donate-page #donatebutton {
    width: 10%;
}

.donate-page #centered {
    text-align: center;
}