.curriculum-page #main{
    margin-left: 5%;
}

.curriculum-page h3 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
<<<<<<< HEAD
    margin-top: 5%;
    margin-left: 5%;

}
=======
    margin-top: 4%;
    color: rgb(224, 30, 61);
}

.curriculum-page #button-space {
    margin: 8px 8px 8px 8px;
}

.curriculum-page #button-space:hover {
    background-color: rgb(224, 30, 61);
    border-color:  rgb(224, 30, 61);
} 
>>>>>>> dc45c8a68e2baeb9410ca4155fb3d8f8f51c12fb
