.curriculum-page #main{
    margin-left: 5%;
}

.curriculum-page h3 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    margin-top: 4%;
    color: rgb(224, 30, 61);
}

.curriculum-page #button-space {
    margin: 8px 8px 8px 8px;
}

.curriculum-page #button-space:hover {
    background-color: rgb(224, 30, 61);
} 