.questions-page h3 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
<<<<<<< HEAD
}

.questions-page h4 {
    font-family: 'Fjalla One', sans-serif;
=======
    color: rgb(224, 30, 61);
}

.questions-page h4 {
    color: rgb(224, 30, 61);
    font-family: 'Fjalla One', sans-serif;
}

.questions-page #red:hover {
    color: rgb(1,159,175);
>>>>>>> dc45c8a68e2baeb9410ca4155fb3d8f8f51c12fb
}