.error-text{
    color : red;
}

.error-focus{
    box-shadow: 0 0 0 1px red;
}

#confirm-message {
    color:  rgb(1,159,175);
}

.contact-page h3 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    margin-top: 5%;
    margin-left: 5%;
    letter-spacing: .8px;
    color: rgb(224, 30, 61);
}

.contact-page h5 {
    color: rgb(224, 30, 61);
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    margin-top: 5%;
    margin-left: 5%;
    letter-spacing: .8px;
}

.contact-page h6 {
    /* text-transform: uppercase; */
    margin-top: 5%;
    margin-left: 5%;
    letter-spacing: .10px;
}


/* .contact-page #name {
    width: 256px;
}

.contact-page #email {
    width: 256px;
} */

.contact-page #comment {
    /* width: 406px; */
    height: 106px;
}

.contact-page #map-image {
    width: 100%;
    height: 100%;
    /* border: .5px rgb(166,166,166) solid;     */
}

/* .contact-page input {
    text-align: center;
} */

/* .contact-page textarea {
    text-align: center;
} */

.contact-page button {
    background-color: rgb(1,159,175);
    color: white;
    padding: 2%;
    padding-left: 7%;
    padding-right: 7%;
    border: none;
}

.contact-page #contactinfo {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: .5px rgb(166,166,166) solid;
    padding: 2% 2.5% 2% 1.5%;
    text-align: center;
}

.contact-page h6 {
    margin-bottom: 10%;
}