.contact-page h3 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    margin-top: 5%;
    margin-left: 5%;
    letter-spacing: .8px;
    color: rgb(224, 30, 61);
}

.contact-page h5 {
    color: rgb(224, 30, 61);
}

#name {
    width: 256px;
}

#email {
    width: 256px;
}

#comment {
    width: 406px;
    height: 106px;
}


