nav.navbar.navbar-default {
  margin-bottom: 0;
}

.bg-light {
  background-color: rgb(1,159,175)!important;
  /* background-color: rgb(32, 80, 110)!important; */
}

.nav-link {
  color: white!important;
  text-transform: uppercase;
  letter-spacing: .8px;
  margin-left: 20px;
}

.navbar-brand {
  color: rgb(242, 224, 192) !important;
}

/* .btn {
  background-color: rgb(186,49,41) !important;
  color: rgb(242, 224, 192) !important;
} */

a {
  color: black;
}

.accountlogo {
  color: white;
  /* color: rgb(224, 30, 61); */
  font-size: 130%;
}
