<<<<<<< HEAD
=======
.error-text{
    color : red;
}

.error-focus{
    box-shadow: 0 0 0 1px red;
}

>>>>>>> dc45c8a68e2baeb9410ca4155fb3d8f8f51c12fb
.certification-page h3 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    margin-top: 4%;
<<<<<<< HEAD
}
=======
    color: rgb(224, 30, 61);
}

.certification-page #red {
    color: rgb(224, 30, 61);
    text-decoration:underline;
}

.certification-page #red:hover {
    color: rgb(1,159,175);
}

input[type="radio"] {
    margin: 0 8px 0 8px;
}

/* ModalVideo */
#modal-message { 
    color: rgb(224, 30, 61);
}
>>>>>>> dc45c8a68e2baeb9410ca4155fb3d8f8f51c12fb
