.error-text{
    color : red;
}

.error-focus{
    box-shadow: 0 0 0 1px red;
}

.success-msg{
color:  rgb(1,159,175);
}

.blog-page h3 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    margin-top: 5%;
    margin-left: 5%;
    letter-spacing: .8px;
}

.blog-page img {
    max-height: 450px;
    height: 350px;
    min-height: 250px;
    width: auto;
}

@media only screen and (max-width: 767px) {
    .blog-page img {
        width: 100%;
        height: auto;
    }
}